Source: distgpio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/distgpio

Package: distkw-gpio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  distkv,
  python3-asyncgpio,
Replaces: python3-distgpio
Conflicts: python3-distgpio
Description: A distributed no-master key-value store
 DistGPIO is a link between GPIO pins and DistKV.
 .
 It can write values that it reads from GPIO to some DistKV entry, monitor a
 DistKV entry and write any updates to a GPIO pin, and work with DistKV's runner
 system, either centrally or distributed.
